*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
	line-height: 25px;
    color: rgba(71, 71, 71, 0.75);
}
.main{
	display: flex;
	width: 85vw;
	margin: 50px auto;
	background: #f5f4fc;
	padding: 10px;
}
.main .side-left{
	width: 38%;
    margin-left: 20px;
    font-size: 14.8px;
}
.main .side-left .left-info1{
    display: none;
}
.main .side-left h3{
    color: #620bee;
    margin-top: 50px;
}
span{
    color:  #474747;  
    font-weight: bold;
}
section a{
    text-decoration: none;
    color: rgba(71, 71, 71, 0.75);
}
section a:hover{
    color: #620bee;
}
section ul{
    list-style-type: square;
    margin-left: 20px;
}
.main .side-right{
    margin-top:80px;
    font-size: 18px;
}
.main .side-right .name{
    font-size: 40px;
    font-weight: 600;
    color: #620bee;
}
.details{
  margin-top: 40px;
  max-width: 80%;
}
hr{
    margin-top: 40px;
    color: #474747BF;
}
.right-education{
   width: 80%;
}
.right-title{
    margin-top: 30px;
    font-size: 22.74px;
    color: #620bee;
}
.date{
    color:  #474747;  
    font-weight: bold;
}
.right-details{
    margin-top: 20px;
}

@media screen and (max-width: 800px){
    body{
        background-color: #f5f4fc;
    }
    .main{
        flex-direction: column;
    }
    .main .side-left{
        width: 100%;
    }
    .main .side-left .left-info1{
        display: block;
    }
    .main .side-left .left-info1 .name{
        font-size: 40px;
        font-weight: 600;
        color: #620bee;
        text-align: center;
    }
    .main .side-right .right-info1{
        display: none;
    }
    hr{
        margin-top: -30px;
    }
}
@media (min-width:803px) and (max-width: 1367px){
    .side-right{
        margin-left: 70px;
    }
}